@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --curr-font: 25px;
  --curr-small-font:12px
  --curr-big-font:50px
}

@font-face {
  font-family: Gilgan;
  src: url('/fonts/Gilgan.otf');
}

@font-face {
  font-family: RoadRage;
  src: url('/fonts/Road_Rage.otf');
}


html{
  scroll-behavior: smooth;
  position: relative;
}

*{
  margin: 0;
  padding: 0;
  transition: all .25s ease-in-out;
}

body{
  font-family: Gilgan;
  overflow-x: hidden;
  position: relative;
  background-image: url('/assets/bg1.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}


*::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

*::-webkit-scrollbar-track {
  background: #8c7e89; /* Track color (black) */
  border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
  background: #cecece; /* Thumb color */
  border-radius: 4px; /* Rounded corners for the thumb */
  transition: background 0.2s, transform 0.2s; /* Smooth transitions for background and transform */
}

/* Customize the scrollbar thumb on hover */
*::-webkit-scrollbar-thumb:hover {
  background: whitesmoke; /* Thumb color on hover (white) */
  transform: scale(1.1); /* Scale the thumb slightly on hover */
}

.text-slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 16px;
  height: 22px;
  border-radius: 40%;
  background-color: rgb(254 252 232);;
  transition: all 0.2s ease-in-out;

}

.text-slider::-webkit-slider-thumb:hover{
  box-shadow: 0px 0px 10px 2px rgb(107, 3, 107);
  transform: scale(1.25);
}

.text-slider::-webkit-slider-thumb:active{
  transform: scale(1.15);
}

.road-rage{
  font-family: RoadRage;
}

.export{
  background: linear-gradient(to right, #390c4d, #811880, #4e299a, #7363bc, #b14ebb);
  transition: all 0.3s ease-in-out
}

.export:hover{
  box-shadow: 0px 0px 10px 2px rgb(107, 3, 107);
}
.export:active{
  transform: scale(0.95);
  transition: all 0.2s ease-in-out
}